.content{
    height:200px;
    width:500px;
    /* padding-left:400px; */
    border:2px yellow solid;
    border-right-color:aqua;
    border-right-style:dashed;
    background-color:blueviolet;
    border-radius:20px;
    padding:20px;
    margin:20px;
}
h1{
    color:aqua;
    /* text-align:center; */
    border:2px greenyellow solid;
    border-radius: 20px;
    width:150px;
    margin-left:300px;
    
}
button{
    border-radius:20px;
    background-color: antiquewhite;
}


